.onSearchDiv {
    width: 500px;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #f7f7f7;
    position: absolute;
    z-index: 10;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
}